<%- include(`heading`) -%>

<div class="contakers">
    <form action="/contact" method="POST" class="cont">

        <input type="text" name="emailers" class="email" placeholder="Email">
        <textarea name="msg" cols="100" rows="10" class="msgs"></textarea>

        <button type="submit" class="submit"> Submit </button>

    </form>
</div>

<%- include(`footer`) -%>