<%- include(`heading`) -%>

<div class="failbox">

    <h3> Please input both of the fields </h3>

    <button class="fail"> <a href="/contact"> Try again </a></button>

</div>



<%- include(`footer`) -%>