<%- include(`heading`) -%>

<div class="lorem">

    <p class="loremers"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto quam esse eaque magnam reprehenderit repellat voluptas consequatur quia similique. Doloribus veritatis nemo rerum laboriosam vel, magni, aut dolor optio quibusdam quasi velit error commodi nulla culpa enim corrupti delectus ex eius exercitationem. Alias velit laborum dolorem dolore error accusamus eum, vitae voluptas provident nesciunt, fuga tempore, dolorum assumenda cumque cum. Fugiat voluptates vero quis aspernatur, unde debitis! Iste consequuntur molestiae, quibusdam exercitationem quae, error libero voluptate, quo totam nemo vitae.</p>

</div>



<%- include(`footer`) -%>