<%- include(`heading`) -%>

<div class="lorem">

    <p class="loremers"> This is LoremWeather Site/App you can input your desired location either a country or a city (must be a valid name).
        This site is powered by openWeather API. If you didn't input any country or city the default value is Philippines. This site is for practice purposes only
    </p>

</div>



<%- include(`footer`) -%>