<%- include(`heading`) -%>

<div class="boxmain">

    <h1 class="h1main"> Input your desired location </h1>

<div class="inputbox">

    <form action="/" method="POST" class="inputloc">
        <input type="text" name="loc" class="input">
        <button type="submit" class="button"> Go </button>
    </form>

</div>

</div>

<%- include(`footer`) -%>